.container{
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    font-size: 18px;
}

.list{
    margin: 0;
}

.listItem{
    margin-right: 30px;
    display: inline;
    font-size: 14px;
    color: lightgray;
    cursor: pointer;
}

.listItem .link:hover{
    color: gray;
}

.link{
    color: inherit;
    text-decoration: none;
}