.navbar{
    background-color:lightblue;
    color: black;
    opacity: 50%;
    box-shadow: 20px;
}

.navbar ul{
    display: flex;
    justify-content: right;
    list-style: none;
}

.navbar ul li{
    margin: 10px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}